---
http_interactions:
- request:
    method: get
    uri: https://mercuryfish.desk.com/api/v2/filters
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="w0yli4Sesq5V7lYP8yI3", oauth_nonce="5ed4639316912f743ed5c3214eb20581",
        oauth_signature="wl1C0qz7Yv52pSzOFzILZueciD8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1425065956", oauth_token="bbOQuaC7XsChCrO21zpE", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - "\"f614a06b0bdcdd60e704963d2314574c\""
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '59'
      x-rate-limit-reset:
      - '43'
    body:
      encoding: UTF-8
      string: "{\"total_entries\":10,\"page\":1,\"_links\":{\"self\":{\"href\":\"/api/v2/filters?page=1&per_page=50\",\"class\":\"page\"},\"first\":{\"href\":\"/api/v2/filters?page=1&per_page=50\",\"class\":\"page\"},\"last\":{\"href\":\"/api/v2/filters?page=1&per_page=50\",\"class\":\"page\"},\"previous\":null,\"next\":null},\"_embedded\":{\"entries\":[{\"id\":2310369,\"name\":\"Inbox\",\"position\":1,\"active\":true,\"routing_enabled\":false,\"sort_field\":\"updated_at\",\"sort_direction\":\"desc\",\"_links\":{\"self\":{\"href\":\"/api/v2/filters/2310369\",\"class\":\"filter\"},\"group\":null,\"user\":null,\"cases\":{\"href\":\"/api/v2/filters/2310369/cases\",\"class\":\"case\"}}},{\"id\":2310370,\"name\":\"All
        Cases\",\"position\":2,\"active\":true,\"routing_enabled\":false,\"sort_field\":\"updated_at\",\"sort_direction\":\"desc\",\"_links\":{\"self\":{\"href\":\"/api/v2/filters/2310370\",\"class\":\"filter\"},\"group\":null,\"user\":null,\"cases\":{\"href\":\"/api/v2/filters/2310370/cases\",\"class\":\"case\"}}},{\"id\":2310371,\"name\":\"My
        Cases\",\"position\":3,\"active\":true,\"routing[...]
- request:
    method: get
    uri: https://mercuryfish.desk.com/api/v2/filters/2310369/cases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="w0yli4Sesq5V7lYP8yI3", oauth_nonce="da974457c5a6b61305860151f384c6b5",
        oauth_signature="QTRopXartiHH6SwO5RvpQueim7Q%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1425065956", oauth_token="bbOQuaC7XsChCrO21zpE", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - "\"dee2cb5622b372f6267a960c111d82a7\""
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '58'
      x-rate-limit-reset:
      - '43'
    body:
      encoding: UTF-8
      string: "{\"total_entries\":3,\"page\":1,\"_links\":{\"self\":{\"href\":\"/api/v2/filters/2310369/cases?page=1&per_page=50\",\"class\":\"page\"},\"first\":{\"href\":\"/api/v2/filters/2310369/cases?page=1&per_page=50\",\"class\":\"page\"},\"last\":{\"href\":\"/api/v2/filters/2310369/cases?page=1&per_page=50\",\"class\":\"page\"},\"previous\":null,\"next\":null},\"_embedded\":{\"entries\":[{\"id\":3,\"external_id\":null,\"blurb\":\"Hooray!
        We sent you a test case to show what a customer experiences when emailing
        your new support email address: support@mercuryfish.desk-mail.com. This is
        your dedicated support email address that you can start using right away without
        any setup. J\",\"priority\":8,\"locked_until\":null,\"label_ids\":[2400541,2403076],\"active_at\":\"2015-02-27T19:39:06Z\",\"changed_at\":\"2015-02-27T19:39:10Z\",\"created_at\":\"2015-02-22T20:56:34Z\",\"updated_at\":\"2015-02-27T19:39:10Z\",\"first_opened_at\":\"2015-02-22T21:55:30Z\",\"opened_at\":\"2015-02-27T19:39:10Z\",\"first_resolved_at\":null,\"resolved_at\":null,\"status\":\"open\",\"active_notes_count\":0,\"active_attachments_count\":0,\"has_pending_interactions\":false,\"has_failed_interactions\":false,\"description\":\"This
        should definitely work this time.\",\"language\":null,\"received_at\":\"2015-02-22T20:56:34Z\",\"type\":\"email\",\"labels\":[\"Example\"],\"subject\":\"Your
        free support email address has been activated.\",\"custom_fields\":{},\"_links\":{\"self\":{\"href\":\"/api/v2/cases/3\",\"class\":\"case\"},\"message\":{\"href\":\"/api/v2/cases/3/message\",\"class\":\"email\"},\"customer\":{\"href\":\"/api/v2/customers/299467822\",\"class\":\"customer\"},\"labels\":{\"href\":\"/api/v2/cases/3/labels\",\"class\":\"label\"},\"assigned_user\":null,\"assigned_group\":{\"href\":\"/api/v2/groups/484410\",\"class\":\"group\"},\"locked_by\":null,\"history\":{\"href\":\"/api/v2/cases/3/history\",\"class\":\"history\"},\"case_links\":{\"href\":\"/api/v2/cases/3/links\",\"class\":\"case_link\"},\"macro_preview\":{\"href\":\"/api/v2/cases/3/macros/preview\",\"class\":\"macro_preview\"},\"replies\":{\"href\":\"/api/v2/cases/3/replies\",\"class\":\"reply\",\"count\":1},\"draft\":{\"href\":\"/api/v2/cases/3/replies/draft\",\"class\":\"reply\"},\"notes\":{\"href\":\"/api/v2/cases/3/notes\",\"class\":\"note\",\"count\":0},\"attachments\":{\"href\":\"/api/v2/cases/3/attachments\",\"class\":\"attachment\",\"count\":0}}},{\"id\":1,\"external_id\":null,\"blurb\":\"I
        want to personally thank you for signing up to try Desk.com! To ensure you
        get the most out of your trial, here are some helpful tips and quick ways
        to get started:\\n\\n1. USE IT - You\\u2019ve got 14 days to try us out -
        please do so and tell us what you t\",\"priority\":2,\"locked_until\":null,\"label_ids\":[2400542],\"active_at\":\"201[...]
[...]
- request:
    method: get
    uri: https://mercuryfish.desk.com/api/v2/filters/2310376/cases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="w0yli4Sesq5V7lYP8yI3", oauth_nonce="0849bfcb7ed4585e47dfbd3be2e84115",
        oauth_signature="QQWsTFFbFi3%2Bxs%2BGU1imFaNR0Hk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1425065959", oauth_token="bbOQuaC7XsChCrO21zpE", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - "\"0955b527e70638a2a79e3769b57faa68\""
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '51'
      x-rate-limit-reset:
      - '41'
    body:
      encoding: UTF-8
      string: "{\"total_entries\":0,\"page\":1,\"_links\":{\"self\":{\"href\":\"/api/v2/filters/2310376/cases?page=1&per_page=50\",\"class\":\"page\"},\"first\":{\"href\":\"/api/v2/filters/2310376/cases?page=1&per_page=50\",\"class\":\"page\"},\"last\":{\"href\":\"/api/v2/filters/2310376/cases?page=1&per_page=50\",\"class\":\"page\"},\"previous\":null,\"next\":null},\"_embedded\":{\"entries\":[]}}"
  recorded_at: Fri, 27 Feb 2015 19:39:19 GMT
[...]
- request:
    method: get
    uri: https://mercuryfish.desk.com/api/v2/filters/2310378/cases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="w0yli4Sesq5V7lYP8yI3", oauth_nonce="b45977a28b8c45f96fc55ae809ea6055",
        oauth_signature="gfLVOKuyV2Em3g0VWIvIl6w3cgk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1425065959", oauth_token="bbOQuaC7XsChCrO21zpE", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - "\"d336e6c3b061079dfc20400ef4688e73\""
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '40'
    body:
      encoding: UTF-8
      string: "{\"total_entries\":0,\"page\":1,\"_links\":{\"self\":{\"href\":\"/api/v2/filters/2310378/cases?page=1&per_page=50\",\"class\":\"page\"},\"first\":{\"href\":\"/api/v2/filters/2310378/cases?page=1&per_page=50\",\"class\":\"page\"},\"last\":{\"href\":\"/api/v2/filters/2310378/cases?page=1&per_page=50\",\"class\":\"page\"},\"previous\":null,\"next\":null},\"_embedded\":{\"entries\":[]}}"
  recorded_at: Fri, 27 Feb 2015 19:39:19 GMT
recorded_with: VCR 2.9.3
