---
http_interactions:
- request:
    method: get
    uri: https://mercuryfish.desk.com/api/v2/filters
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="w0yli4Sesq5V7lYP8yI3", oauth_nonce="3f228812c54af0926d42e1e0c873b88b",
        oauth_signature="Mr5VjOrhapjx8BGugjp4wyj2kXQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1425065629", oauth_token="bbOQuaC7XsChCrO21zpE", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - "\"f614a06b0bdcdd60e704963d2314574c\""
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '57'
      x-rate-limit-reset:
      - '10'
    body:
      encoding: UTF-8
      string: "{\"total_entries\":10,\"page\":1,\"_links\":{\"self\":{\"href\":\"/api/v2/filters?page=1&per_page=50\",\"class\":\"page\"},\"first\":{\"href\":\"/api/v2/filters?page=1&per_page=50\",\"class\":\"page\"},\"last\":{\"href\":\"/api/v2/filters?page=1&per_page=50\",\"class\":\"page\"},\"previous\":null,\"next\":null},\"_embedded\":{\"entries\":[{\"id\":2310369,\"name\":\"Inbox\",\"position\":1,\"active\":true,\"routing_enabled\":false,\"sort_field\":\"updated_at\",\"sort_direction\":\"desc\",\"_links\":{\"self\":{\"href\":\"/api/v2/filters/2310369\",\"class\":\"filter\"},\"group\":null,\"user\":null,\"cases\":{\"href\":\"/api/v2/filters/2310369/cases\",\"class\":\"case\"}}},{\"id\":2310370,\"name\":\"All
        Cases\",\"position\":2,\"active\":true,\"routing_enabled\":false,\"sort_field\":\"updated_at\",\"sort_direction\":\"desc\",\"_links\":{\"self\":{\"href\":\"/api/v2/filters/2310370\",\"class\":\"filter\"},\"group\":null,\"user\":null,\"cases\":{\"href\":\"/api/v2/filters/2310370/cases\",\"class\":\"case\"}}},{\"id\":2310371,\"name\":\"My
        Cases\",\"position\":3,\"active\":true,\"routing[...]
