<section class="row">
  <section class="col-md-8">
    <table class="table cases-list">
      <tr>
        <th>Status</th>
        <th>Subject</th>
        <th>Labels</th>
        <th>Updated</th>
        <th>Priority</th>
      </tr>
      <tr ng-repeat="case in cases" ng-click="openCase(case)">
        <td>{{case.status}}</td>
        <td>{{case.subject}}</td>
        <td>{{case.label_names}}</td>
        <td>{{case.remote_updated_at | date : 'MMM d, yyyy'}}</td>
        <td>{{case.priority}}</td>
      </tr>
    </table>
  </section>
  <section class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Filters</div>
      <div class="list-group">
        <a href="#/filters/{{filter.id}}/cases" class="list-group-item" ng-repeat="filter in filters | orderBy: 'position'">{{filter.name}}</a>
      </div>
    </div>
  </section>
</section>
