<section class="row">
  <section class="col-md-8">
    <table class="table cases-list">
      <tr>
        <th>Status</th>
        <th>Subject</th>
        <th>Labels</th>
        <th>Updated</th>
        <th>Priority</th>
      </tr>
      <tr class="case-item" ng-repeat="case in cases" ng-click="openCase(case)">
        <td>{{case.status}}</td>
        <td>{{case.subject}}</td>
        <td>{{case.label_names}}</td>
        <td>{{case.remote_updated_at | date : 'MMM d, yyyy'}}</td>
        <td>{{case.priority}}</td>
      </tr>
    </table>
  </section>
  <section class="case-filters col-md-4 well">
    <header>
      <h4>Case Filters</h4>
    </header>
    <ul>
      <li class="filter-item" ng-repeat="filter in filters | orderBy: 'position'" ng-click="openFilter(filter)">
        <a href="#/filters/{{filter.id}}/cases">{{filter.name}}</a>
      </li>
    </ul>
  </section>
</section>
