---
http_interactions:
- request:
    method: get
    uri: https://mercuryfish.desk.com/api/v2/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="w0yli4Sesq5V7lYP8yI3", oauth_nonce="4794ac0f706b2fd2a12750c26a75578b",
        oauth_signature="6UvmUaBTCi79oX36B0jf6fCZVco%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1425065361", oauth_token="bbOQuaC7XsChCrO21zpE", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - "\"14250652954193700\""
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '58'
      x-rate-limit-reset:
      - '39'
    body:
      encoding: UTF-8
      string: "{\"total_entries\":9,\"page\":1,\"_links\":{\"self\":{\"href\":\"/api/v2/labels?page=1&per_page=50\",\"class\":\"page\"},\"first\":{\"href\":\"/api/v2/labels?page=1&per_page=50\",\"class\":\"page\"},\"last\":{\"href\":\"/api/v2/labels?page=1&per_page=50\",\"class\":\"page\"},\"previous\":null,\"next\":null},\"_embedded\":{\"entries\":[{\"id\":2400545,\"name\":\"Abandoned
        Chats\",\"types\":[\"case\",\"macro\",\"opportunity\"],\"description\":\"Abandoned
        Chats\",\"enabled\":true,\"color\":\"default\",\"_links\":{\"self\":{\"href\":\"/api/v2/labels/2400545\",\"class\":\"label\"}}},{\"id\":2400544,\"name\":\"Escalated\",\"types\":[\"case\",\"macro\",\"opportunity\"],\"description\":\"Escalated\",\"enabled\":true,\"color\":\"default\",\"_links\":{\"self\":{\"href\":\"/api/v2/labels/2400544\",\"class\":\"label\"}}},{\"id\":2400541,\"name\":\"Example\",\"types\":[\"case\"],\"description\":\"Example\",\"enabled\":true,\"color\":\"default\",\"_links\":{\"self\":{\"href\":\"/api/v2/label[...]
