---
http_interactions:
- request:
    method: get
    uri: https://mercuryfish.desk.com/api/v2/cases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="w0yli4Sesq5V7lYP8yI3", oauth_nonce="129296e7267c0b939a88ee7621fb4041",
        oauth_signature="b7gdI5fV%2Fo0LAhZQkcAdF3N4SCY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1425064948", oauth_token="bbOQuaC7XsChCrO21zpE", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - "\"24e656d86dcdee64fe3888629b952e5b\""
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '20'
      x-rate-limit-reset:
      - '32'
    body:
      encoding: UTF-8
      string: "{\"total_entries\":3,\"page\":1,\"_links\":{\"self\":{\"href\":\"/api/v2/cases?page=1&per_page=50\",\"class\":\"page\"},\"first\":{\"href\":\"/api/v2/cases?page=1&per_page=50\",\"class\":\"page\"},\"last\":{\"href\":\"/api/v2/cases?page=1&per_page=50\",\"class\":\"page\"},\"previous\":null,\"next\":null},\"_embedded\":{\"entries\":[{\"id\":1,\"external_id\":null,\"blurb\":\"I
        want to personally thank you for signing up to try Desk.com! To ensure you
        get the most out of your trial, here are some helpful tips and quick ways
        to get started:\\n\\n1. USE IT - You\\u2019ve got 14 days to try us out -
        please do so and tell us what you t\",\"priority\":2,\"locked_until\":null,\"label_ids\":[2400542],\"active_at\":\"2015-02-27T18:46:26Z\",\"changed_at\":\"2015-02-27T19:22:25Z\",\"created_at\":\"2015-02-22T20:56:12Z\",\"updated_at\":\"2015-02-27T19:22:25Z\",\"first_opened_at\":\"2015-02-22T21:03:42Z\",\"opened_at\":\"2015-02-27T19:22:25Z\",\"first_resolved_at\":\"2015-02-27T18:52:46Z\",\"resolved_at\":\"2015-02-27T18:52:46Z\",\"status\":\"open\",\"active_notes_count\":0,\"active_attachments_count\":0,\"has_pending_interactions\":false,\"has_failed_interactions\":false,\"description\":\"Quo
        ut aperiam possimus dignissimos omnis deleniti dolorem quo.\",\"language\":null,\"received_at\":\"2015-02-22T20:56:12Z\",\"type\":\"email\",\"labels\":[\"Sample
        Case\"],\"subject\":\"My newly updated message\",\"custom_fields\":{},\"_links\":{\"self\":{\"href\":\"/api/v2/cases/1\",\"class\":\"case\"},\"message\":{\"href\":\"/api/v2/cases/1/message\",\"class\":\"email\"},\"customer\":{\"href\":\"/api/v2/customers/299467739\",\"class\":\"customer\"},\"labels\":{\"href\":\"/api/v2/cases/1/labels\",\"class\":\"label\"},\"assigned_user\":{\"href\":\"/api/v2/users/22921079\",\"class\":\"user\"},\"assigned_group\":{\"href\":\"/api/v2/groups/484410\",\"class\":\"group\"},\"locked_by\":null,\"history\":{\"href\":\"/api/v2/cases/1/history\",\"class\":\"history\"},\"case_links\":{\"href\":\"/api/v2/cases/1/links\",\"class\":\"case_link\"},\"macro_preview\":{\"href\":\"/api/v2/cases/1/macros/preview\",\"class\":\"macro_preview\"},\"replies\":{\"href\":\"/api/v2/cases/1/replies\",\"class\":\"reply\",\"count\":1},\"draft\":{\"href\":\"/api/v2/cases/1/replies/draft\",\"class\":\"reply\"},\"notes\":{\"href\":\"/api/v2/cases/1/notes\",\"class\":\"note\",\"count\":0},\"attachments\":{\"href\":\"/api/v2/cases/1/attachments\",\"class\":\"attachment\",\"count\":0}}},{\"id\":2,\"external_id\":null,\"blurb\":null,\"priority\":9,\"locked_until\":null,\"label_ids\":[2400542,2400539],\"active_at\":\"2015-02-27T16:31:07Z\",\"changed_at\":\"2015-02-22T21:56:24Z\",\"created_at\":\"2015-02-22T20:56:12Z\",\"updated_at\":\"2015-02-27T16:31:14Z\",\"first_opened_at\":\"2015-02-22T21:04:40Z\",\"opened_at\":\"2015-02-22T21:04:40Z\",\"first_resolved_at\":null,\"resolved_at\":null,\"status\":\[...]
- request:
    method: get
    uri: https://mercuryfish.desk.com/api/v2/cases/1/message
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="w0yli4Sesq5V7lYP8yI3", oauth_nonce="05a67087d7af8d6aa64ec7325987903e",
        oauth_signature="Wd5YwPLuvp26%2BpHW%2BXZPaJ0XMPw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1425064948", oauth_token="bbOQuaC7XsChCrO21zpE", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - "\"4c61941c5c61d14a92ad8f66bf07c175\""
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '19'
      x-rate-limit-reset:
      - '31'
    body:
      encoding: UTF-8
      string: "{\"id\":735739753,\"created_at\":\"2015-02-22T20:56:12Z\",\"updated_at\":\"2015-02-22T20:56:12Z\",\"sent_at\":null,\"erased_at\":null,\"hidden_by\":null,\"hidden_at\":null,\"body\":\"I
        want to personally thank you for signing up to try Desk.com! To ensure you
        get the most out of your trial, here are some helpful tips and quick ways
        to get started:\\n\\n1. USE IT - You\\u2019ve got 14 days to try us out -
        please do so and tell us what you think!\\n\\n2. TEST OUT YOUR NEW SUPPORT
        EMAIL - Your new account includes your very own support email address. Send
        an email to it, watch it pop up in your Agent Desktop, then work to resolve
        your test case.\\n\\n3. RESOLVE CASES QUICKLY - This article https://support.desk.com/customer/portal/articles/1110369-agent-desktop-orientation
        gives you an overview of the Agent Desktop, where you'll see everything you
        need to quickly respond to your customers.\\n\\n4. CONTACT SUPPORT - The Desk.com
        WOW Team is always here to help you, so please contact them anytime at support@desk.com
        if you have questions, problems, suggestions, or just want to talk.\\n\\nThanks
        again for giving us a try. We would love to have you join the Desk.com family!\\n\\nCheers,\\n\\nLeyla
        D. Seka\\nGM Desk.com\\nsalesforce.com\\n\",\"from\":\"Leyla Seka <support@Desk.com>\",\"to\":null,\"cc\":null,\"bcc\":null,\"client_type\":null,\"direction\":\"in\",\"status\":\"received\",\"subject\":\"Getting
        Started with Your New Account\",\"hidden\":false,\"_links\":{\"self\":{\"href\":\"/api/v2/cases/1/message\",\"class\":\"email\"},\"splits\":null,\"outbound_mailbox\":null,\"case\":{\"href\":\"/api/v2/cases/1\",\"class\":\"case\"},\"customer\":{\"href\":\"/api/v2/customers/299467739\",\"class\":\"customer\"},\"sent_by\":null,\"erased_by\":null,\"attachments\":{\"href\":\"/api/v2/cases/1/message/attachments\",\"class\":\"attachment\"}}}"
  recorded_at: Fri, 27 Feb 2015 19:22:28 GMT
- request:
    method: get
    uri: https://mercuryfish.desk.com/api/v2/labels/2400542
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="w0yli4Sesq5V7lYP8yI3", oauth_nonce="7fe8a4fea8fc85c08f9a1ee4810525b1",
        oauth_signature="h%2FJofhCjE9TtT4rXZebiOhHxPWA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1425064948", oauth_token="bbOQuaC7XsChCrO21zpE", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - "\"5dc49352f60f0824d6e656c2ef497951\""
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '18'
      x-rate-limit-reset:
      - '31'
    body:
      encoding: UTF-8
      string: "{\"id\":2400542,\"name\":\"Sample Case\",\"types\":[\"case\"],\"description\":\"Sample
        Case\",\"enabled\":true,\"color\":\"default\",\"_links\":{\"self\":{\"href\":\"/api/v2/labels/2400542\",\"class\":\"label\"}}}"
  recorded_at: Fri, 27 Feb 2015 19:22:28 GMT
[...]
- request:
    method: get
    uri: https://mercuryfish.desk.com/api/v2/labels/2403076
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="w0yli4Sesq5V7lYP8yI3", oauth_nonce="b1e8e55aa526cb8e47b27d3b35793588",
        oauth_signature="mQHjV9aITt6708cFuZsbjDNWsM0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1425064950", oauth_token="bbOQuaC7XsChCrO21zpE", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - "\"aaeb3dbd87de833fdd6919999e0c0c4e\""
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '13'
      x-rate-limit-reset:
      - '30'
    body:
      encoding: UTF-8
      string: "{\"id\":2403076,\"name\":\"Anotehr test\",\"types\":[\"case\"],\"description\":\"Anotehr
        test\",\"enabled\":true,\"color\":\"default\",\"_links\":{\"self\":{\"href\":\"/api/v2/labels/2403076\",\"class\":\"label\"}}}"
  recorded_at: Fri, 27 Feb 2015 19:22:30 GMT
recorded_with: VCR 2.9.3
