<div ng-app="desk-challenge">
  <div class="container">
    <header>
      <div class="row">
        <ul class="nav nav-pills bg-primary" ng-controller="HeaderController">
          <li role="presentation" ng-class="{ active: isActive('#/') }">
            <a class="nav-item" href='#/cases'>Cases</a>
          </li>
          <li role="presentation" ng-class="{ active: isActive('#/labels') }">
            <a class="nav-item" href='#/labels'>Labels</a>
          </li>
        </ul>
      </div>
    </header>
    <div ng-view></div>
  </div>
</div>