---
http_interactions:
- request:
    method: patch
    uri: https://mercuryfish.desk.com/api/v2/cases/1
    body:
      encoding: UTF-8
      string: "{\"priority\":5,\"description\":\"Dolore qui ea officia cum.\",\"subject\":\"Exercitationem
        aut vel possimus.\",\"status\":\"resolved\",\"label_ids\":[1,2,3]}"
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth oauth_consumer_key="w0yli4Sesq5V7lYP8yI3", oauth_nonce="331bf7461b6c9acf5a70c5d6c48d6312",
        oauth_signature="b7L0LfYLHZj8OEv%2F1kcfTQBkRX8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1425064940", oauth_token="bbOQuaC7XsChCrO21zpE", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - "\"75b9c49f21c45631a1d297931a6b9b5c\""
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '42'
      x-rate-limit-reset:
      - '39'
    body:
      encoding: UTF-8
      string: "{\"id\":1,\"external_id\":null,\"blurb\":\"I want to personally thank
        you for signing up to try Desk.com! To ensure you get the most out of your
        trial, here are some helpful tips and quick ways to get started:\\n\\n1. USE
        IT - You\\u2019ve got 14 days to try us out - please do so and tell us what
        you t\",\"priority\":5,\"locked_until\":null,\"label_ids\":[2400542],\"active_at\":\"2015-02-27T18:46:26Z\",\"changed_at\":\"2015-02-27T19:22:20Z\",\"created_at\":\"2015-02-22T20:56:12Z\",\"updated_at\":\"2015-02-27T19:22:20Z\",\"first_opened_at\":\"2015-02-22T21:03:42Z\",\"opened_at\":\"2015-02-27T18:50:17Z\",\"first_resolved_at\":\"2015-02-27T18:52:46Z\",\"resolved_at\":\"2015-02-27T18:52:46Z\",\"status\":\"resolved\",\"active_notes_count\":0,\"active_attachments_count\":0,\"has_pending_interactions\":false,\"has_failed_interactions\":false,\"description\":\"Dolore
        qui ea officia cum.\",\"language\":null,\"received_at\":\"2015-02-22T20:56:12Z\",\"type\":\"email\",\"labels\":[\"Sample
        Case\"],\"subject\":\"Exercitationem aut vel possimus.\",\"custom_fields\":{},\"_links\":{\"self\":{\"href\":\"/api/v2/cases/1\",\"class\":\"case\"},\"message\":{\"href\":\"/api/v2/cases/1/message\",\"class\":\"email\"},\"customer\":{\"href\":\"/api/v2/customers/299467739\",\"class\":\"customer\"},\"labels\":{\"href\":\"/api/v2/cases/1/labels\",\"class\":\"label\"},\"assigned_user\":{\"href\":\"/api/v2/users/22921079\",\"class\":\"user\"},\"assigned_group\":{\"href\":\"/api/v2/groups/484410\",\"class\":\"group\"},\"locked_by\":null,\"history\":{\"href\":\"/api/v2/cases/1/history\",\"class\":\"history\"},\"case_links\":{\"href\":\"/api/v2/cases/1/links\",\"class\":\"case_link\"},\"macro_preview\":{\"href\":\"/api/v2/cases/1/macros/preview\",\"class\":\"macro_preview\"},\"replies\":{\"href\":\"/api/v2/cases/1/replies\",\"class\":\"reply\",\"count\":1},\"draft\":{\"href\":\"/api/v2/cases/1/replies/draft\",\"class\":\"reply\"},\"notes\":{\"href\":\"/api/v2/cases/1/notes\",\"class\":\"note\",\"count\":0},\"attachments\":{\"href\":\"/api/v2/cases/1/attachments\",\"class\":\"attachment\",\"count\":0}}}"
  recorded_at: Fri, 27 Feb 2015 19:22:20 GMT
- request:
    method: get
    uri: https://mercuryfish.desk.com/api/v2/filters
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="w0yli4Sesq5V7lYP8yI3", oauth_nonce="65c30da69b98e461860fbee25fa540bf",
        oauth_signature="p2cWrZLzCcmMeDOq24uDRoH%2BB5M%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1425064940", oauth_token="bbOQuaC7XsChCrO21zpE", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - "\"f614a06b0bdcdd60e704963d2314574c\""
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '41'
      x-rate-limit-reset:
      - '39'
    body:
      encoding: UTF-8
      string: "{\"total_entries\":10,\"page\":1,\"_links\":{\"self\":{\"href\":\"/api/v2/filters?page=1&per_page=50\",\"class\":\"page\"},\"first\":{\"href\":\"/api/v2/filters?page=1&per_page=50\",\"class\":\"page\"},\"last\":{\"href\":\"/api/v2/filters?page=1&per_page=50\",\"class\":\"page\"},\"previous\":null,\"next\":null},\"_embedded\":{\"entries\":[{\"id\":2310369,\"name\":\"Inbox\",\"position\":1,\"active\":true,\"routing_enabled\":false,\"sort_field\":\"updated_at\",\"sort_direction\":\"desc\",\"_links\":{\"self\":{\"href\":\"/api/v2/filters/2310369\",\"class\":\"filter\"},\"group\":null,\"user\":null,\"cases\":{\"href\":\"/api/v2/filters/2310369/cases\",\"class\":\"case\"}}},{\"id\":2310370,\"name\":\"All
        Cases\",\"position\":2,\"active\":true,\"routing_enabled\":false,\"sort_field\":\"updated_at\",\"sort_direction\":\"desc\",\"_links\":{\"self\":{\"href\":\"/api/v2/filters/2310370\",\"class\":\"filter\"},\"group\":null,\"user\":null,\"cases\":{\"href\":\"/api/v2/filters/2310370/cases\",\"class\":\"case\"}}},{\"id\":2310371,\"name\":\"My
        Cases\",\"position\":3,\"active\":true,\"routing[...]
- request:
    method: get
    uri: https://mercuryfish.desk.com/api/v2/filters/2310369/cases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="w0yli4Sesq5V7lYP8yI3", oauth_nonce="b619c329f55e1a9d4f8c476e7cdc4047",
        oauth_signature="em%2FB4QYXls4E21Gz8iq1lW3OZBM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1425064941", oauth_token="bbOQuaC7XsChCrO21zpE", oauth_version="1.0"
  response:
    status:
 [...]
[...]
- request:
    method: get
    uri: https://mercuryfish.desk.com/api/v2/filters/2310378/cases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="w0yli4Sesq5V7lYP8yI3", oauth_nonce="d40eb6172be87085302465fab87e8bbd",
        oauth_signature="9oFholudIieR%2F79EUE8MYK9egl0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1425064943", oauth_token="bbOQuaC7XsChCrO21zpE", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - "\"d336e6c3b061079dfc20400ef4688e73\""
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '31'
      x-rate-limit-reset:
      - '36'
    body:
      encoding: UTF-8
      string: "{\"total_entries\":0,\"page\":1,\"_links\":{\"self\":{\"href\":\"/api/v2/filters/2310378/cases?page=1&per_page=50\",\"class\":\"page\"},\"first\":{\"href\":\"/api/v2/filters/2310378/cases?page=1&per_page=50\",\"class\":\"page\"},\"last\":{\"href\":\"/api/v2/filters/2310378/cases?page=1&per_page=50\",\"class\":\"page\"},\"previous\":null,\"next\":null},\"_embedded\":{\"entries\":[]}}"
  recorded_at: Fri, 27 Feb 2015 19:22:24 GMT
recorded_with: VCR 2.9.3
