<section class="row">
  <section class="col-md-12">
    <table class="table">
      <tr>
        <th>Status</th>
        <th>Subject</th>
        <th>Customer</th>
        <th>Updated</th>
        <th>Assigned</th>
        <th>Priority</th>
      </tr>
      <tr ng-repeat="case in cases" ng-click="openCase(case)">
        <td>{{case.status}}</td>
        <td>{{case.subject}}</td>
        <td>{{case.customer}}</td>
        <td>{{case.remote_updated_at | date : 'MMM d, yyyy'}}</td>
        <td>{{case.assigned}}</td>
        <td>{{case.priority}}</td>
      </tr>
    </table>
  </section>
</section>
